html, body {
  font-size: 100%;
  margin: 0;
  background-color: Lightblue;
}

header {
  background-color: White;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  text-align: center;
  font-family: cursive;
}

header h1 {
  margin: 0;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: blue;
}

#content {
  display: flex;
  height: 40rem;
}

main {
  overflow: hidden;
  width: 65%;
  margin: 0 5% 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}

aside {
  /* background-color: red; */
  overflow: hidden;
  width: 25%;
  border: 0;
}

main ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#titles {
  display: flex;
  overflow: hidden;
  height: 10%;
  width: 100%;
}

#titles li {
  overflow: hidden;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  box-sizing: border-box;
  width: 20%;
}

#weatherData {
  display: flex;
  height: 90%;
}

#days, #hours, #events {
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

#days, #hours {
  width: 20%;
}

#days {
  border-left: 1px solid black;
}

#events {
  width: 60%;
}

#events ol {
  display: flex;
  width: 100%;
}

#events li {
  width: 33.33%;
}

#days li {
  width: 100%;
  height: 50%;
}

#hours li {
  width: 100%;
  height: 12.5%;
}

#events li, #days li, #hours li {
  box-sizing: border-box;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#ev1 {
  height: 12.5%;
  background-image: url("cloud.jpg");
  background-size: 100% 200%;
}

#ev2 {
  height: 25%;
  background-image: url("sun.jpg");
  background-size: 100% 100%;
}

#ev3 {
  height: 25%;
  background-image: url("cloud.jpg");
  background-size: 100% 100%;
}

#ev4 {
  height: 37.5%;
  background-image: url("rain.jpg");
  background-size: 100% 100%;
}

legend {
  font-weight: bold;
  font-size: 2rem;
  font-family: cursive;
  color: blue;
}

form {
  background-color: Lightblue;
  font-size: 1.5rem;
  text-align: center;
  margin-right: 5%;
}

form ol, form p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

form ol {
  margin-top: 1rem;
}

form li {
  list-style-type: none;
  margin: 0;
}

.field {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  width: 80%;
}

#selection {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 90%;
  max-width: 18rem;
  margin-bottom: 2rem;
}
